:root {
  --clr-white: #f8f9fa;
  --clr-black: #212529;
  --clr-gray5: #adb5bd;
  --clr-gray8: #343a40;
  --clr-o: #fff4e6;
  --clr-o1: #ffe8cc;
  --clr-o2: #ffd8a8;
  --clr-o3: #ffc078;
  --clr-o4: #ffa94d;
  --clr-main: #192a56;
  --clr-blur: #ffa94d40;
  --font-f01: 'Bebas Neue', cursive;
  --font-f02: 'Big Shoulders Inline Text', cursive;
  --font-f03: 'Black Ops One', cursive;
  --font-f04: 'Milonga', cursive;
  --font-f05: 'Modak', cursive;
  --font-f06: 'New Rocker', cursive;
  --font-f07: 'Nosifer', cursive;
  --font-f08: 'Rubik Glitch', cursive;
  --font-f09: 'Rubik Puddles', cursive;
  --font-f10: 'Rubik Wet Paint', cursive;
  --font-f11: 'Sancreek', cursive;
  --font-f12: 'Sarina', cursive;
  --font-f13: 'Shojumaru', cursive;
  --font-f14: 'Sonsie One', cursive;
  --font-f15: 'Tourney', cursive;
  --font-f16: 'Unica One', cursive;

  --font-clock: var(--font-f1);
  --font-main: var(--font-f1);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: var(--clr-main);
  background-color: var(--clr-o1);
}

.icon {
  height: 10vh;
  width: 10vh;
  margin: 1vh;
  stroke: var(--clr-o3);
}
button {
  border: none;
  background: none;
}
button:hover .icon {
  stroke: var(--clr-o1);
}
.container {
  aspect-ratio: 2.45 / 3.5;
  height: 90vh;
  background: var(--clr-o4);
  border: 1vh solid var(--clr-main);
  box-shadow: 0 0 1vh 1vh var(--clr-main);
  border-radius: 3vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

.counter {
  font-size: 25vh;
  justify-self: center;
  letter-spacing: -2vh;
  font-family: var(--font-clock);
  color: var(--clr-o1);
  -webkit-text-stroke: 0.3vh var(--clr-o3);
}

.config {
  position: absolute;
  top: 0;
  right: 0;
}

.letter {
  font-family: var(--font-main);

  position: absolute;
  font-size: 23vh;
  color: var(--clr-o1);
  -webkit-text-stroke: 0.3vh var(--clr-o3);
}

.animate--top {
  animation: 4s top-anim ease forwards;
  transform: translate(-50%, -50%) scale(0);
  font-size: 50vh;
}
.animate--bot {
  animation: 4s bot-anim ease forwards;
  transform: translate(-50%, -50%) scale(0);
  font-size: 50vh;
}

@keyframes top-anim {
  0% {
    top: 50%;
    left: 50%;
    background: var(--clr-main);
    border: var(--clr-o1) solid 1vh;
    padding: 3vh;
    border-radius: 3vh;
  }
  50% {
    transform: translate(-50%, -50%) scale(100%);
    font-size: 50vh;
    top: 50%;
    left: 50%;
    background: var(--clr-main);
    border: var(--clr-o1) solid 1vh;
    padding: 3vh;
    border-radius: 3vh;
  }
  100% {
    top: -2vh;
    left: 2vh;
    transform: translate(0) scale(100%);
    font-size: 23vh;
  }
}
@keyframes bot-anim {
  0% {
    top: 50%;
    left: 50%;
  }
  50% {
    transform: translate(-50%, -50%) scale(100%);
    font-size: 50vh;
    top: 50%;
    left: 50%;
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  100% {
    bottom: -2vh;
    right: 2vh;

    transform: translate(0) scale(100%) rotate(-180deg);
    font-size: 23vh;
  }
}
.start,
.control-panel {
  position: absolute;
  aspect-ratio: 1;
  border-radius: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 3vh 1vh #00000020;
  border: var(--clr-o3) solid 1vh;
  background: var(--clr-o1);
  width: 80%;
}

.start {
  font-family: var(--font-main);
  font-size: 16vh;
  letter-spacing: -1.5vh;
}
.start:hover {
  background: var(--clr-main);
  color: var(--clr-o2);
}

.control-panel {
  flex-direction: column;
  grid-template-columns: auto auto;
}
.blur {
  background-color: #ffa94d;
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 2vh;
}
@supports ((backdrop-filter: blur(18px))) {
  .blur {
    background-color: var(--clr-blur);
    backdrop-filter: blur(18px);
  }
}
#submit {
  font-size: 5vh;
  font-family: var(--font-main);
  font-weight: 900;
  padding: 0;
  height: 8vh;
  width: 14vh;
  border: 0.8vh solid var(--clr-main);
  color: var(--clr-main);
  border-radius: 2vh;
  margin-top: 3vh;
  user-select: none;
}
#submit:hover {
  background: var(--clr-main);
  color: var(--clr-o1);
}
.cfg-icon {
  aspect-ratio: 1;
  height: 8vh;
}

.check {
  height: 7vh;
  width: 7vh;
  margin-right: 6.5vh;
  border: none;
  background-color: var(--clr-o2);
}
.check--off {
  stroke: var(--clr-o4);
}
.input {
  height: 7vh;
  width: 10vh;
  font-size: 5vh;
  font-weight: 500;
  color: var(--clr-main);
  background: var(--clr-o2);
  border: none;
  text-align: center;
}
.cfg-nr {
  aspect-ratio: 1;
  height: 5vh;
  stroke: var(--clr-main);
  border-radius: 50%;
  padding: 0.5vh;
}
.cfg-nr:hover {
  background-color: var(--clr-o);
}
.cfg-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type='number'] {
  -moz-appearance: textfield;
}

.spade {
  aspect-ratio: 1;
  height: 23vh;
}
.spade path {
  stroke: var(--clr-o1);
  fill: var(--clr-o3);
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hidden {
  display: none;
}

.start,
.config,
.pause,
.reset,
.resume,
#submit,
.check,
button .cfg-nr {
  cursor: pointer;
}
